.start {
  height: 60vh;
}

.start-info {
  padding: 80px 0 50px;
  text-align: center;
}

.startTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.startWay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 30px;
}

.item {
  width: 25%;
  text-align: center;
}

.startWayImg {
  width: 45px;
  height: 45px;
}

.startWayTitle {
  font-size: 19px;
  font-weight: 600;
  margin: 15px 0;
}

.startWayContent a {
  color: #0cc844;
  text-decoration: underline;
}

.startWayContent a:hover {
  text-decoration: none;
}
